@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    text-align: center;
    background-image: linear-gradient(to right, black, darkred);
}
.resident{
    color: white;

}
.evil{
    padding-left: 5px;
    color: red;
}
.slogan{
    color: white;
}
.image{
    width: 300px;
    height: 350px;
}
img{
    width: 50px;
}
h1{
    display: inline-block;
}
nav{
    background-color: rgb(138, 0, 0);
    padding: 5px;
    text-align: left;
}
.ancora{
    color: black;
    text-decoration: none;
}
.ancora:hover{
    font-size: larger;
    font-style: italic;
}
body{
    background-color: black;
}
main{
    text-align: center;
    min-width: 300px;
    max-width: 1050px;
    padding: 20px;
    margin: auto;
    margin-bottom: 30px;
    color: black;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
p{
    padding: 10px;
}

footer{
    padding: 1px;
    text-align: center;
    background-color: darkred;
}
ul{
    text-align: justify;
}
/* ID da pagina JOGOS */
#jogo{
    margin: 0px 0px 30px 0px;
    list-style: decimal;
    columns: 2;
}
#intro{
    margin: auto;
    padding: 5px;
    border-radius: 10px 10px 0px 0px;
    background-color: darkred;
    
}
#divintro{
    border-radius: 10px 10px;
    background-color: rgba(139, 0, 0, 0.158);
}
#flor{
    width: 300px;
}
h3{
    margin: 15px;
}
h4{
    margin:5px 0px;
}
.flex-container{
    margin: 5px 0px;
    text-align: left;
    display: inline-flex;
}
.fotos{
    width: 100px;
    margin: 10px 20px;
    box-shadow: 2px 5px 10px;
}